#burger {
  position: fixed;
  height: 4em;
  background-color: #283236;
  border-top: 1px solid #d92546;
  box-shadow: 0 0 2em ;
  transition: all 300ms;
  z-index: 99;
}

.menuOpen #burger{
    transform: translateY(5em);
}

.burger__container {
  padding: 0;
}

.burger__row {
  max-width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger__list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger__list--item {
  display: flex;
  align-items: center;
  height: 100%;
  border: #d92546 1px solid;
}

.burger__list--item > a {
  color: white;
  padding: 0 1.5em;
}

.burger__list--item > a > h2{
  font-size: 1.3em;
}
