#landing {
  height: 100vh;
}


.landing__row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5em;
  padding: 3em 1em;
}

.info__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.info__title {
  text-align: center;
}

.highlight {
  color: #d92546;
}

.info__img--wrapper {
  width: 8em;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 1.5em;
}

.info__img {
  object-fit: cover;
  scale: 2.3;
  transform: translateY(2.15em);
}

.info__list {
  display: flex;
}

.info__list--item > button > svg {
  color: white;
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.about__text {
  text-align: center;
  line-height: 2em;
}

.about__container > svg {
  margin-top: 1em;
  color: white;
  scale: 2.5;
  animation: scrolld 2.5s infinite alternate-reverse;
}

@keyframes scrolld {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1em);
  }
}

/* PRODUCTS SECTION */

.product__row {
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

.product__organizer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.product{
  max-width: 390px;
}

.product__wrapper {
  position: relative;
  border-radius: 1em;
  aspect-ratio: 1.5 / 1;
}

.product__img {
  object-fit: cover;
}

.product__wrapper:hover .product__info--container {
  opacity: 1;
}

.product__info--container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #242424b4;
  opacity: 0;
  transition: all 300ms ease;
}

.product__row > a {
  margin: 1em auto 0;
}

.product__row > a > button {
  background-color: #d92546;
}
.product__row > a > button:hover {
  background-color: #b11f3a;
}

/* REVIEWS SECTION */

.reviews__organizer{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.review{
  display: flex;
  justify-content: space-between;
  background-color: #2f3a3e;
  padding: 1em;
  border-radius: .5em;
}

.review__name,
.review__description{
  margin-left: .2em;
  text-align: justify;
}

.rating > svg{
  color: goldenrod;
  width: .8em;
}

.review__description{
  font-size: .9em;
}

.review__img--wrapper{
  width: 4em;
}