#landing {
  height: 100vh;
  width: 100vw;
}

.info__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5em;
}

.info__title {
  text-align: center;
}

.info__img--wrapper{
    width: 8em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.info__img{
    object-fit: cover;
    scale: 2.3;
    transform: translateY(2.2em);
}

.info__list{
    display: flex;
}

.info__list--item > button > svg {
  color: white;
}
