#productpage{
    min-height:calc( 100vh - 7em);
}

.productpage__row{
    padding: 3em 1em;
}

.productpage__title{
    text-align: center;
}

.productpage__organizer{
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-top: 1em;
}

.productpage__text{
    line-height: 1.7em;
}

.productpage__icon--list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.productpage__icon--list > h4{
    margin-right: .25em;
}

.productpage__icon > button > svg {
    color: white;
}

.productpage__img--wrapper{
    margin: 0 auto;
    width: 15em;
    border-radius: .5em;
    aspect-ratio: 1.5 / 1;
}

.productpage__img{
    object-fit: cover;
}

