@media only screen and (min-width: 600px) {
  #root {
    font-size: 18px;
  }

  .row {
    max-width: 80%;
  }

  nav {
    padding: 1em 1.5em;
  }

  nav > button {
    width: 2em;
  }

  .menuOpen #burger {
    transform: translateY(5em);
  }

  .burger__list--item > button {
    padding: 1.3em 3em;
  }

  .landing__row {
    gap: 3.5em;
  }

  .info__img--wrapper {
    width: 9em;
  }
  .info__img {
    transform: translateY(2.45em);
  }

  .info__list {
    scale: 1.3;
  }

  .about__text {
    font-size: 1.1em;
  }

  .product__organizer {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product {
    width: calc((100% - 1em) / 2);
  }

  .product__row > a > button > h3 {
    font-size: 1.3em;
  }

  .reviews__organizer {
    justify-content: center;
    flex-direction: row;
  }

  .review {
    max-width: 35%;
  }

  .productlist__organizer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .productlist__item {
    width: calc((100% - 1em) / 2);
  }

  .productlist__name{
    font-size: 1.1em;
  }

  .productpage__subtitle {
    font-size: 1.5em;
  }

  .productpage__img--wrapper {
    width: 23em;
  }

  .productpage__icon--list {
    scale: 1.1;
  }
}

@media only screen and (min-width: 1150px) {
  .burger__list--item > button {
    padding: 1.3em 5em;
  }

  .about__container > svg {
    margin-top: 3em;
  }

  .product__organizer {
    gap: 1.5em;
  }

  .productlist__name{
    font-size: 1.3em;
  }

  .productpage__img--wrapper {
    width: 27em;
  }
}

@media only screen and (min-width: 1550px) {
  .burger__list--item > button {
    padding: 1.3em 7em;
  }

  .product__organizer {
    gap: 1em;
  }
  .product {
    width: calc((100% - 3em) / 4);
  }
}
